h1{
    text-align: center;
}

.Game-Circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 40px;
}

.Game-Circle {
  width: 250px;
  padding: 12px;
  border-radius: 16px;
  background: #f8f8f8;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeUp;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.Game-Circle img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.Game-Circle h3 {
  margin: 8px 0 4px;
}

.Game-detail {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.8;
  text-align: left;
}

/* ホバー */
.Game-Circle:hover {
  transform: translateY(-5px);
}

/* 選択中 */
.Game-Circle.active {
  border: 3px solid #6366f1;
  transform: scale(1.05);
  background: #eef2ff;
}

.Game-Link {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}